/* Card indicators */
.cardIndicators{
    top: 0 !important;
    right: -1px !important;
    overflow: hidden !important;
}

.listItemIndicators{
    top: 0 !important;
    right: 0 !important;
    overflow: hidden !important;
    border-radius: 0 5px 0 5px !important;
}


.playedIndicator {
    background: #5dd000;
    border-radius: 0 0 0 5px !important;
    padding: 5px !important;
}

.countIndicator {
    background: var(--skullflix-purple) !important;
    border-radius: 0 0 0 5px !important;
    padding: 5px !important;
}

/* Border for cards on hover */

.cardScalable:hover{
    box-shadow: 0 0px 0px 3px var(--skullflix-purple) !important;
}

/* Collection folders styling */

div.card[data-isfolder="true"][data-type="CollectionFolder"] {
    --cardBuffer: 3vw;
    --cardWidth: calc(var(--effectiveWidth) / var(--cardCount) - var(--itemColumnGap) + var(--cardBuffer));
}

/* Words for collections cards */
.card[data-isfolder="true"][data-type="CollectionFolder"] .cardImageContainer[aria-label]::after {
        content: attr(aria-label); /* Dynamically insert the aria-label text */
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2.5rem; /* Larger text */
        font-weight: bold;
        padding: 15px 30px;
        border-radius: 5px;
        white-space: nowrap;
        text-shadow: 4px 7px 8px rgba(0, 0, 0, 1); /* Drop shadow */
}